# Node modules
node_modules/

# Electron distribution/build
dist/
out/
*.exe
*.dll
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# API keys / Env files
.env
.env.local
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class
